@use './vars' as *;

@mixin on-mobile {
  @media (min-width: $mobile-min-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}


.container {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    padding-inline: 32px;
    margin-inline: auto;
    max-width: 1200px;
  }
}