@use './../../../../style/main' as *;

.nav {
  background-color: white;
  height: calc(100dvh - 70px);
  width: 250px;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid black;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    row-gap: 10px;
    width: inherit;
  }

  &__item {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: inset 0 0 3px black;
    margin-inline: 5px;
    width: 90%;
    background-color: $primary;

    .dropdown {
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      &.active {
        margin-top: 10px;
        height: 75px;
      }

      &__item {
        padding: 5px;
      }

      &__link {
        color: black;
        list-style: circle;
        font-size: 0.8em;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 230px;
    gap: 7px;
    white-space: pre-line;
    font-size: 12px;


    h3,
    a {
      color: $primary;
    }
  }
}