@use '../../style/main' as *;

.footer {
  background-color: rgba(9, 9, 27, 0.6);
  color: #f5f5f5;
  padding: 60px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-family: 'Inter', sans-serif;

  a {
    color: #f5f5f5;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $primary;
    }
  }
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}

.footer__logo {
  img {
    max-width: 130px;
    margin-bottom: 10px;
    border-radius: 15px;
  }

  p {
    opacity: 0.7;
    font-size: 14px;
  }
}

.footer__nav {
  display: flex;
  width: 100%;

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    width: 100%;
  }

  .nav__item {
    width: 100%;
  }

  .nav__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    cursor: pointer;

    &:hover {
      color: $primary;
    }

    .dropdown {
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      &.active {
        margin-top: 10px;
        height: 75px;
      }

      &__item {
        padding: 5px;
      }

      &__link {
        color: white;
        font-size: 0.9em;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.footer__contact,
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  white-space: pre-line;
}

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 1200px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
  opacity: 0.7;
}

.footer__legal {
  display: flex;
  gap: 15px;
}