@use './style/main.scss' as *;

:root {
  font-size: 16px;
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  min-width: 320px;
}

.main {
  flex-grow: 1;
  // background-color: #e4ffff60;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  overflow: hidden;

  .border {
    &_top {
      width: 30%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      overflow: hidden;


      & img {
        height: 100%;
        width: 100%;
      }
    }

    &_bottom {
      width: 50%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      overflow: hidden;


      & img {
        height: 100%;
        width: 100%;
      }
    }
  }

  & a,
  & button {
    cursor: pointer;
    text-decoration: none;
  }
}

.call {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;

  & span {
    position: relative;
    z-index: 2;
    color: black;
    background-color: $green;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 50px;
    text-shadow: 0 0 10px white;
  }

  &::after {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 55px;
    height: 55px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid $green;
    z-index: 1;
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      transform: translate(50%, -50%) scale(1);
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    100% {
      transform: translate(50%, -50%) scale(1.2);
      opacity: 0;
    }
  }
}